{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>联技 | 小测试</title>
	
    <!-- css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>

<body id="page-top" data-spy="scroll">

	<!-- Navigation -->
	<section id="navi">
	    <div id="navigation">
			<div class="container background-gray">
			    
				<!-- /.container -->
		    </nav>
	    </div> 
    </section>
    <!-- /Navigation --> 

	<!-- Section: contact -->
    <section id="welcome" class="background-orange">
		<div class="container">
			<div class="row">
				<div id="button"><a href="question0.html">开始</a></div>
			</div>
			<div class="row">
				
				<div class="col-xs-6 col-xs-offset-2 paragraph-text-1">
						<p>在众多的工友里，</p>
						<p>你有多大竞争力？</p>
				</div>
				<div class="col-xs-4">
					<img style="float:right" src="{% static 'img/icon.png' %}"/>
				</div>

			<div class="row">
				<div class="col-xs-12">
					<div class="site-logo">
						<p><span style="font-size:18px">联技</span> 小测试</p>
					</div>
				</div>
		    </div>
				
			<div class="row"> 
				<div class="col-xs-10 col-xs-offset-2 paragraph-text-2">
					<p>快来测测你的技能等级吧！</p>	
				</div>
			</div>



		</div>
	</section>
	<!-- /Section: welcome -->

	<footer>
		<div class="container background-gray">	
		</div>
	</footer>
</body>
</html>
