{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>联技 | 小测试</title>
	
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">

	<script>
		function storeName() {
    		sessionStorage.setItem("name", document.getElementById("nameText").value);
		}
	</script>

</head>

<body id="page-top" data-spy="scroll">

	<!-- Navigation -->
	<section id="navi">
	    <div id="navigation">
			<div class="container background-orange">
			    <div class="row">
					<div class="col-xs-12 quiz-logo text-center">
						<p>你的技能有几级？</p>
					</div>
			    </div>
				<!-- /.container -->
		    </nav>
	    </div> 
    </section>
    <!-- /Navigation --> 

	<!-- Section: quiz-content -->
    <section id="quiz-content">
		<div class="container">
			<div class="row">
				<div class="col-xs-8 quiz-title">
					<p>我叫：</p>
				</div>
			</div>

			<form class="dropdown text-center">
			    <a style="color:#111;font-size: 24px;font-family: 'Microsoft YaHei'">（姓名）</a><input type="text" id="nameText" name="FullName">
			</form>

		</div>
	</section>
	<!-- /Section: quiz-content -->

	<quiz-footer>
		<div class="container background-gray">
			<div class="row">
				<div class="col-xs-6 col-xs-offset-6 text-center">
					<button class="btn quiz-btn-theme" onclick="storeName()">
						<a href="{% url 'question1' %}" style="color:#111">下一题</a>
					</button>
				</div>

				<div class="col-xs-6 col-xs-offset-6 text-center">
					<button class="btn terminate-btn-theme">
						<a href="{% url 'index' %}" style="color:#111">不测了</a>
					</button>
				</div>
			</div>	
		</div>
	</quiz-footer>
</body>
</html>
