{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>联技 | 小测试</title>
	
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">

	<script>
		$(function(){
			$("#slt_mjr").change(function () {
		        sessionStorage.setItem("education", $(this).val());
		    });
		});
	</script>

	<script >
		$(function(){
			$("#btnViewResult").click(function(){
    			/* construct JSON object 
				  Example json template:
				  {'name':'xing ming', 'age': 40, 'work_age': 20, 'education': 3, 'hometown': 'Sichuan, Chengdu', 
				   'jobs': 4, 'projects': 10, 'average_project_days': 100, 'type_of_projects': 2, 'num_of_teams': 2, 
				   'type_of_teams': 2, 'speciality': 'mujiang', 'certificate': 1} Response: {'msg':'worker added', 
				   'worker_id': 123, 'worker_level': 6, 'worker_percentile': 34}
    			 */
		    	var obj = {};
		    	obj["name"] = sessionStorage.getItem("name");
		    	obj["age"] = sessionStorage.getItem("age");
		    	obj["work_age"] = sessionStorage.getItem("work_age");
		    	obj["education"] = sessionStorage.getItem("education");
		    	obj["hometown"] = sessionStorage.getItem("hometown");
		    	obj["jobs"] = sessionStorage.getItem("jobs");
		    	obj["projects"] = sessionStorage.getItem("projects");
		    	obj["average_project_days"] = sessionStorage.getItem("average_project_days");
		    	obj["type_of_projects"] = sessionStorage.getItem("type_of_projects");
		    	obj["num_of_teams"] = sessionStorage.getItem("num_of_teams");
		    	obj["type_of_teams"] = sessionStorage.getItem("type_of_teams");
		    	obj["speciality"] = sessionStorage.getItem("speciality");
		    	obj["certificate"] = sessionStorage.getItem("certificate");
		    	var json = JSON.stringify(obj);
    			console.log(json);

    			// call py views function
				$.ajax({
					type: "POST",
				  	url: "{% url 'worker' %}",
				  	data: json,
				  	success: function(response){
			  			sessionStorage.setItem("worker_level", response["worker_level"]);
			  			sessionStorage.setItem("worker_skill", response["worker_skill"]);
			  			sessionStorage.setItem("worker_experience", response["worker_experience"]);
			  			sessionStorage.setItem("worker_percentile", response["worker_percentile"]);

			  			location.assign("{% url 'result' %}");
				    },
				  	error: function(response){
				  		console.log(response.msg);
				  	},
				  	dataType: "json",
				  	contentType : "application/json"
				});
			});
		});
	</script>
</head>

<body id="page-top" data-spy="scroll">

	<!-- Navigation -->
	<section id="navi">
	    <div id="navigation">
			<div class="container background-orange">
			    <div class="row">
					<div class="col-xs-12 quiz-logo text-center">
						<p>你的技能有几级？</p>
					</div>
			    </div>
				<!-- /.container -->
		    </nav>
	    </div> 
    </section>
    <!-- /Navigation --> 

	<!-- Section: quiz-content -->
    <section id="quiz-content">
		<div class="container">
			<div class="progress">
				<div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
			   		12/12
			  	</div>
			</div>

			<div class="row">
				<div class="col-xs-12 quiz-title">
					<p>在__读过书？</p>
				</div>
			</div>

			<div align="center">
				<select id="slt_mjr" name="slt_mjr">
				    <option value="">Please Select</option>
				    <option value="小学">小学</option>
				    <option value="初中">初中</option>
				    <option value="高中">高中</option>
				    <option value="本科">本科</option>
				</select>
			</div>
		</div>
	</section>
	<!-- /Section: quiz-content -->

	<quiz-footer>
		<div class="container background-gray">
			<div class="row">
				<div class="col-xs-6 text-center">
					<button class="btn quiz-btn-theme">
						<a href="{% url 'question11' %}" style="color:#111">上一题</a>
					</button>
				</div>

				<div class="col-xs-6 text-center">
				    <button class="btn quiz-btn-theme" type="submit" id="btnViewResult">
						<a style="color:#111">看结果</a>
					</button>
				</div>

				<div class="col-xs-6 col-xs-offset-6 text-center">
					<button class="btn terminate-btn-theme">
						<a href="{% url 'index' %}" style="color:#111">不测了</a>
					</button>
				</div>
			</div>	
		</div>
	</quiz-footer>
</body>
</html>
