{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>联技 | 小测试</title>
	
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">

	<script>
		$(function(){
			$("#slt_mjr").change(function () {
		        sessionStorage.setItem("speciality", $(this).val());
		    });
		});
	</script>
</head>

<body id="page-top" data-spy="scroll">

	<!-- Navigation -->
	<section id="navi">
	    <div id="navigation">
			<div class="container background-orange">
			    <div class="row">
					<div class="col-xs-12 quiz-logo text-center">
						<p>你的技能有几级？</p>
					</div>
			    </div>
				<!-- /.container -->
		    </nav>
	    </div> 
    </section>
    <!-- /Navigation --> 

	<!-- Section: quiz-content -->
    <section id="quiz-content">
		<div class="container">
			<div class="progress">
				<div class="progress-bar" role="progressbar" aria-valuenow="27" aria-valuemin="0" aria-valuemax="100" style="width:27%">
			   		3/12
			  	</div>
			</div>

			<div class="row">
				<div class="col-xs-12 quiz-title">
					<p>你现在的岗位是：</p>
				</div>
			</div>

			<div align="center">
				<select id="slt_mjr" name="slt_mjr">
				    <option value="">Please Select</option>
				    <option value="砌筑工/泥工/瓦工">砌筑工/泥工/瓦工</option>
				    <option value="木工">木工</option>
				    <option value="架子工">架子工</option>
				    <option value="电焊工">电焊工</option>
				    <option value="木工">木工</option>
				    <option value="架子工">架子工</option>
				    <option value="电焊工">电焊工</option>
				    <option value="钢筋工">钢筋工</option>
				    <option value="抹灰工">抹灰工</option>
				    <option value="钢架构安装工">钢架构安装工</option>
				    <option value="油漆工">油漆工</option>
				    <option value="管道工">管道工</option>
				    <option value="防水工">防水工</option>
				    <option value="水电工">水电工</option>
				</select>
			</div>
		</div>
	</section>
	<!-- /Section: quiz-content -->

	<quiz-footer>
		<div class="container background-gray">
			<div class="row">
				<div class="col-xs-6 text-center">
					<button class="btn quiz-btn-theme">
						<a href="{% url 'question2' %}" style="color:#111">上一题</a>
					</button>
				</div>

				<div class="col-xs-6 text-center">
				    <button class="btn quiz-btn-theme" type="submit" id="btnViewResult">
						<a href="{% url 'question4' %}" style="color:#111">下一题</a>
					</button>
				</div>

				<div class="col-xs-6 col-xs-offset-6 text-center">
					<button class="btn terminate-btn-theme">
						<a href="{% url 'index' %}" style="color:#111">不测了</a>
					</button>
				</div>
			</div>	
		</div>
	</quiz-footer>
</body>
</html>
